body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-color:rgb(11, 4, 25);
    color:white;
    
    
}

.container{
    display:flex;
    width:270px;
    height: 230px;
    background-color:rgb(24, 9, 56);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    text-align: justify;
    

}

h1,.new {
   
 
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
    font-size:25px;
}




img{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 230px;
    width: 270px;
     filter: sepia(100%) saturate(300%) hue-rotate(230deg) brightness(50%) contrast(90%);


}

.content{
    display: block;
    margin-right: 8px;
    margin-left: 8px;
}
.old{
    text-decoration: line-through;
}

b{
    color: purple;
}
.c, .t, .q{
    font-size: 8px;
}
.footer{
    display: flex;
    gap: 15%;
}

@media (min-width: 100px) {
    .container {
       display: flex;
        flex-direction: row;
       
    }
}
