body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: linen;
    margin: 0; 
}

.container {
    display: flex;
    flex-direction: column; 
    width: 90%;             
    max-width: 600px; 

    background-color: white;
    border-radius: 7px;     
    text-align: justify;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05); 
    overflow: hidden;       
}


img {
    width: 100%;            
    max-height: 350px;          
    object-fit: cover;  
}

.content {
    display: block;
    padding: 24px;          
}

button {
    background-color: darkgreen; 
    color: white;              
    padding: 12px 15px;           
    border: none;              
    border-radius: 4px;        
    font-size: 16px;          
    font-weight: 500;         
    cursor: pointer;          
    width: 100%;            
    margin-top: 15px;       
}

button:hover {
    background-color: black;
}

h1, .new {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;       
    font-style: normal;
    font-variation-settings:
      "SOFT" 0,
      "WONK" 0;
}

.new {
    color: green;
}

.old {
    text-decoration: line-through;
    color: gray;
    margin-left: 8px;       
}


   
@media (min-width: 600px) {
    .container {
        flex-direction: row; 
    }

    img {
        width: 100%;          
        height: auto;        
    }

    .content {
        width: 50%;          
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }
}
