body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-color:papayawhip;
    
    
}

.container{
    display:flex;
    width:250px;
    height: 350px;
    background-color: white;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    text-align: justify;
}
button{
   background-color:  green;
}

button:hover{
    background-color: darkgreen;
}
h1,.new {
   
 
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}


.new{
    color: green;
}

img{
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.content{
    display: block;
}
.old{
    text-decoration: line-through;
}